# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.12.1/deploy/static/provider/baremetal/deploy.yaml
  - custom-headers.yaml

patches:
  # Patch 1: Change Service type
  - patch: |-
      - op: replace
        path: /spec/type
        value: LoadBalancer
    target:
      kind: Service
      name: ingress-nginx-controller
      namespace: ingress-nginx

  # Patch 2: Add the missing --publish-service argument to the Deployment
  #  path: /spec/template/spec/containers/0/args/- uses JSON Patch syntax to append (add to path ending in -) the value to the existing args array for the first container).
  - patch: |-
      # Append the argument to the existing args list for the first container
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --publish-service=$(POD_NAMESPACE)/ingress-nginx-controller
    target:
      kind: Deployment
      name: ingress-nginx-controller
      namespace: ingress-nginx

  # Patch 3: Set security defaults and reference custom response headers
  - patch: |-
      - op: remove
        path: /data
      - op: add
        path: /data
        value:
          add-headers: "ingress-nginx/ingress-nginx-custom-headers"
          hide-headers: "X-Powered-By,Server"
    target:
      kind: ConfigMap
      name: ingress-nginx-controller
      namespace: ingress-nginx
