# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: longhorn # Kustomization name
  namespace: flux-system
spec:
  interval: 15m # maybe longer for infrastructure like Longhorn
  path: ./apps/longhorn
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  targetNamespace: longhorn-system # Target NS for the HelmRelease obj
  timeout: 15m # Allow longer for storage system install/upgrade
  dependsOn:
    - name: ingress-nginx
