---
apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImageUpdateAutomation
metadata:
  name: flux-system
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: master
    commit:
      author:
        name: fluxcdbot
        email: fluxcdbot@users.noreply.github.com
      messageTemplate: "image-automation: update {{range .Changed.Changes}}{{print .OldValue}} -> {{print .NewValue}} {{end}}"
    push:
      branch: master
  update:
    path: ./apps
    strategy: Setters
