---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.7.3/charts/other/app-template/values.schema.json
controllers:
  main:
    replicas: 1
    strategy: RollingUpdate
    containers:
      main:
        image:
          repository: louislam/uptime-kuma
          tag: latest

service:
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 3001

resources:
  requests:
    cpu: 25m
    memory: 64Mi
  limits:
    memory: 128Mi

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: truenas-nfs
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /app/data

pod:
  nodeSelector:
    kubernetes.io/hostname: talos-7nf-osf

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      external-dns.alpha.kubernetes.io/hostname: uptime-kuma.khzaw.dev
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      - secretName: uptime-kuma-tls
        hosts:
          - uptime-kuma.khzaw.dev
    hosts:
      - host: uptime-kuma.khzaw.dev
        paths:
          - path: /
            pathType: Prefix
            service:
              name: uptime-kuma
              port: 3001
