# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Source for helm charts
  - ./repositories/bitnami.yaml
  - ./repositories/bjw-s-charts.yaml
  - ./repositories/metallb.yaml
  - ./repositories/jetstack.yaml
  - ./repositories/vicsufer-charts.yaml
  - ./repositories/tailscale-charts.yaml
  - ./repositories/grafana.yaml
  - ./repositories/democratic-csi.yaml
  - ./repositories/community-charts.yaml
  - ./repositories/prometheus.yaml
  - ./repositories/immich-charts.yaml

  # tell Flux *what* directories in Git to sync
  - ./kustomizations/namespaces.yaml # non-default namespaces (has to come first before objects that make use of them)
  - ./kustomizations/secrets.yaml # sops-encrypted secrets (decrypted by flux)
  - ./kustomizations/metallb.yaml
  - ./kustomizations/metallb-config.yaml
  - ./kustomizations/tailscale-operator.yaml
  - ./kustomizations/tailscale-subnet-router.yaml
  - ./kustomizations/cert-manager.yaml
  - ./kustomizations/cert-manager-config.yaml
  - ./kustomizations/external-dns.yaml
  - ./kustomizations/ingress-nginx.yaml
  - ./kustomizations/monitoring.yaml
  - ./kustomizations/resource-advisor.yaml

  - ./kustomizations/infra-storage-calibre.yaml
  - ./kustomizations/infra-storage-media.yaml
  - ./kustomizations/local-storage.yaml
  - ./kustomizations/uptime-kuma.yaml
  - ./kustomizations/audiobookshelf.yaml
  - ./kustomizations/calibre.yaml
  - ./kustomizations/calibre-web-automated.yaml
  - ./kustomizations/chartsdb.yaml
  - ./kustomizations/speedtest.yaml
  - ./kustomizations/profilarr.yaml
  - ./kustomizations/autobrr.yaml
  - ./kustomizations/media-postgres.yaml
  - ./kustomizations/actualbudget.yaml
  - ./kustomizations/democratic-csi.yaml
  - ./kustomizations/flaresolverr.yaml
  - ./kustomizations/transmission.yaml
  - ./kustomizations/sabnzbd.yaml
  - ./kustomizations/prowlarr.yaml
  - ./kustomizations/radarr.yaml
  - ./kustomizations/sonarr.yaml
  - ./kustomizations/bazarr.yaml
  - ./kustomizations/jellyfin.yaml
  - ./kustomizations/seerr.yaml
  - ./kustomizations/jellystat.yaml
  - ./kustomizations/immich.yaml
  - ./kustomizations/adguard.yaml
  - ./kustomizations/glance.yaml
  - ./kustomizations/tracerr.yaml
  - ./kustomizations/lan-access.yaml
  - ./kustomizations/vaultwarden.yaml
  - ./kustomizations/tunarr.yaml
  - ./kustomizations/nodecast-tv.yaml
  - ./kustomizations/isponsorblock-tv.yaml
  - ./kustomizations/ersatztv.yaml
  # - ./kustomizations/grafana.yaml
  # - ./kustomizations/loki.yaml
