# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/values.schema.json
---
defaultPodOptionsStrategy: merge
defaultPodOptions:
  nodeSelector:
    kubernetes.io/hostname: talos-7nf-osf

controllers:
  main:
    replicas: 1
    strategy: RollingUpdate
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/calibre
          tag: "v9.3.1-ls387"
        env:
          TZ: 'Asia/Singapore'
          PUID: "1000"
          PGID: "1000"
        resources:
          requests:
            cpu: 150m
            memory: 512Mi
          limits:
            cpu: 1000m
            memory: 3Gi

service:
  main:
    ports:
      http:
        port: 8080 # web GUI access via KasmVNC
      https:
        port: 8181
      server:
        port: 8081 # content server

ingress:
  main:
    enabled: false

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: app-configs-pvc-nfs
    advancedMounts:
      main:
        main:
          - path: /config
            subPath: calibre

  books:
    enabled: true
    type: persistentVolumeClaim
    existingClaim: calibre-books-nfs
    globalMounts:
      - path: /books
